@using System.Security.Claims
@using EventRegistration.Database
@using EventRegistration.Database.Models.Events
@using EventRegistration.Services.DateTimeProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model EventRegistration.Database.Models.Events.Event
@inject IDbContext context
@inject IDateTimeProvider dateTimeProvider
@{
	ViewData["Title"] = Model.Name;
}

<div>
	<h1 class="display-4">@Model.Name</h1>
	<p>Дата проведения: @Model.Date.ToString("dd.MM.yyyy hh:mm")</p>
    <p>Организатор: @Model.HostName</p>
    <p>
        Описание:<br/>
        @Model.Description
    </p>

	@if (User.IsInRole("Member"))
    {
        var userLogin = User.Claims.First(c => c.Type == ClaimTypes.Name).Value;
        if(context.GetEntities<Registration>()
           .Include(r => r.User)
           .Include(r => r.Event)
           .SingleOrDefault(r => r.User.Login == userLogin && r.Event.Id == Model.Id) is null)
        {
            if(Model.Date > dateTimeProvider.Now())
            {
                <a asp-action="SubscribeOnEvent" asp-route-id="@Model.Id" class="btn btn-primary">Записаться на мероприятие</a>
            }
            else
            {
                <p>Мероприятие уже прошло</p>
            }
        }
        else
        {
            <p class="text-success">Вы уже записаны на это мероприятие</p>
            <a asp-action="Unsubscribe" asp-route-id="@Model.Id"><input type="button" class="btn btn-outline-danger" value="Отписаться"/></a>
        }
	}
    else
    {
        <p>Чтобы записаться на мероприятие, нужно <a asp-action="Authentication" asp-route-returnUrl="@Context.Request.Path">Войти</a></p>
    }
</div>
